# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Indexes locaux & données lourdes
indexes/
*.db

# Logs & rapports locaux
logs/
reports/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db